
  <owl-carousel-o [options]="Options">
    <ng-container >
      <ng-template carouselSlide>
          <div class="container">
            <img src="https://theme.hstatic.net/1000251698/1000330754/14/ms_banner_img1.jpg?v=2912"/>
          </div>
          
      </ng-template>
      <ng-template carouselSlide>
          <div class="container">
            <img src="https://theme.hstatic.net/1000251698/1000330754/14/ms_banner_img2.jpg?v=2912"/>
          </div>
          
      </ng-template>
      <ng-template carouselSlide>
          <div class="container">
            <img src="https://theme.hstatic.net/1000251698/1000330754/14/ms_banner_img3.jpg?v=2912"/>
          </div>
          
      </ng-template>
      <ng-template carouselSlide>
          <div class="container">
            <img src="https://theme.hstatic.net/1000251698/1000330754/14/ms_banner_img4.jpg?v=2912"/>
          </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>

