li {
  margin-right: 30px;
  list-style: none;
  font-size: 1.5rem;
  a {
    text-decoration: none;
    margin-right: 9px;
    color: #333;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in;
    font-size: 1.5rem;
    &:hover {
      &::after {
        width: 100%;
      }
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -3px;
      width: 0;
      left: 0;
      height: 1px;
      background-color: aqua;
      transition: all 0.3s ease-in;
    }
  }
}
