.footer {
  background: #d5dcf2;
  .container {
    text-align: center;
    p {
      padding-top: 35px;
    }
    h3 {
      padding-top: 40px;
      font-size: 40px;
      i {
        margin-right: 10px;
      }
    }
    .logo {
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
      img {
        width: 200px;
      }
    }
    nav {
      display: flex;

      li {
        list-style: none;
        margin-right: 15px;
        a {
          color: #ffffff;
          color: #1f2025;
        }
      }
    }
  }
}
