.modal-sign-in {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 777;
  .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 199;
  }
  .modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.8;
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    z-index: 555;
    background-color: red;
    transform: translate(-50%, -50%);
  }
}
