.modal-sign-in {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 777;
  .btn-close {
    position: absolute;
    top: 180px;
    right: 590px;
    z-index: 888;
  }
  .modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.8;
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    z-index: 555;

    transform: translate(-50%, -50%);
    padding: 10px;

    .form {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 2rem;
        text-align: start;
        width: 80%;
        margin-bottom: 1rem;
        color: #333;
      }
      .form-inputs {
        margin-bottom: 0.5rem;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .form-label {
          display: block;
          font-size: 1rem;
          margin-bottom: 6px;
          color: #333;
        }
        .form-input {
          display: block;
          padding-left: 10px;
          outline: none;
          border-radius: 2px;
          height: 40px;
          width: 100%;
          border: 2px solid #333;
          &::placeholder {
            color: #595959;
            font-size: 12px;
          }
        }
      }

      .form-input-btn {
        width: 80%;
        height: 50px;
        margin-top: 10px;
        border-radius: 2px;
        background: linear-gradient(
          90deg,
          rgb(39, 176, 255) 0%,
          rgb(0, 232, 236) 100%
        );
        outline: none;
        border: none;
        color: #fff;
        font-size: 1rem;
        &:hover {
          cursor: pointer;
          background: linear-gradient(
            90deg,
            rgb(39, 143, 255) 20%,
            rgb(12, 99, 250) 80%
          );
          transition: all 0.4s ease-out;
        }
      }
      .form-input-login {
        font-size: 0.8rem;
        margin-top: 10px;
        color: #fff;
        width: 80%;
        text-align: center;
        a {
          text-decoration: none;
          color: #27cdff;
          font-weight: 600;
        }
      }
    }
  }
}
