<button class="btn btn-lg btn-outline-primary" (click)="handleOpenModal()">
  Đăng nhập
</button>
<div class="modal-sign-in" *ngIf="isOpen">
  <button
    class="btn btn-lg btn-outline-primary btn-close"
    (click)="handleOpenModal()"
  >
    Close
  </button>
  <div class="modal-background"></div>
  <div class="modal-content">
    <form class="form" noValidate>
      <h1>Đăng nhập</h1>

      <div class="form-inputs">
        <label class="form-label">Username</label>
        <input
          class="form-input"
          type="text"
          name="username"
          placeholder="Enter your username"
        />
      </div>
      <div class="form-inputs">
        <label class="form-label">Email</label>
        <input
          class="form-input"
          type="email"
          name="email"
          placeholder="Enter your email"
        />
      </div>
      <div class="form-inputs">
        <label class="form-label">Password</label>
        <input
          class="form-input"
          type="password"
          name="password"
          placeholder="Enter your password"
        />
      </div>

      <button class="form-input-btn" type="submit">Sign in</button>
    </form>
  </div>
</div>
