<div class class="container">
  <nav>
    <li class="dropdown">
      <a href="">Len </a> <i class="fas fa-angle-down"></i>
      <ul class="d-none">
        <li>Thương Hiệu</li>
        <li>Phân loại</li>
        <li>Kim loai</li>
      </ul>
    </li>
    <li><a href="">Kim đan</a><i class="fas fa-angle-down"></i></li>
    <li><a href="">Kim móc</a><i class="fas fa-angle-down"></i></li>
    <li class="dropdown">
      <a href="">Nguyên liệu</a><i class="fas fa-angle-down"></i>
    </li>
  </nav>
</div>
