.container {
  margin-top: 60px;
  .item {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

    img {
      position: relative;
      width: 100%;
      transition: all 0.3s ease-in;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
